@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* Reset */

html,body,header,footer,div,nav,table,image,ul,ol,li,h1,h2,h3,span{
    margin: 0px;
    padding: 0px;
    font-family: "Noto Sans KR", sans-serif !important;
    color: #3a3635;
}

body{
    width: 100%;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #3a3635;
    display: block;
}
img{
	display: block;
	border: 0px;
}