@charset "utf-8";

header,body,ul,li,a,h1{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
}
ul,li{
    list-style: none;
}
a{
    display:block;
    text-decoration: none;
    color: #000;
}
image{
    display: block;
}